name: Documentation

on:
  release:
    types: [published]
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  deploy_docs:
    name: Documentation
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - name: Cache gems
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-flow-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-flow
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Install Sourcekitten
        run: brew install sourcekitten
      - name: Generate Documentation
        run: |
          ./bin/docs.sh
      - name: Fix Invalid URLs
        run: |
          cd docs
          touch .nojekyll
      - name: Commit files
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        run: |
          cd docs
          git init
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Deploying Updated Jazzy Docs"
      - name: Push changes
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        uses: ad-m/github-push-action@master
        with:
          directory: docs
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
